{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "_includes/base-resp.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('Thunderbird — {channel} Notes ({version})')|f(channel=channel_name, version=release.version) }}{% endblock %}

{# channel_name is for display purposes where needed.  #}
{% set channel_name = channel_name|default('') %}
{% set is_beta = channel_name == "Beta" %}

{% block header_content %}
  <section class="text-center text-white flex flex-col items-center xl:w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">
      {{ _('Thunderbird {channel} Notes')|f(channel=channel_name) }}
    </h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-4xl mb-10 mt-0">
      {{ _('Version {version}, first offered to {channel} channel users on {date}')|f(channel=release.channel, date=release.release_date|l10n_format_date, version=release.version) }}
    </p>
  </section>
  {% if notes %}
    {% set ns = namespace(whatsnew=false, changes=false, fixes=false) %}
    {% for note in notes if not (ns.whatsnew and ns.changes and ns.fixes) %}
      {% if note.tag == 'new' %}
        {% set ns.whatsnew = true %}
      {% elif note.tag == 'changed' %}
        {% set ns.changes = true %}
      {% elif note.tag == 'fixed' %}
        {% set ns.fixes = true %}
      {% endif %}
    {% endfor %}
    <nav role="directory" class="text-center text-white flex justify-center max-w-6xl mx-auto bg-black-25 rounded mb-10">
      <ul class="list-none p-0 flex flex-wrap justify-around flex-1 m-0">
        {% if ns.whatsnew %}
          <li class="ml-2 mr-2">
            <a href="#whatsnew" class="btn-link">{{ _('What’s new') }}</a>
          </li>
        {% endif %}
        {% if ns.changes %}
        <li class="ml-2 mr-2">
          <a href="#changes" class="btn-link">{{ _('Changes') }}</a>
        </li>
        {% endif %}
        {% if ns.fixes %}
        <li class="ml-2 mr-2">
          <a href="#fixes" class="btn-link">{{ _('Bug Fixes') }}</a>
        </li>
        {% endif %}
        <li class="ml-2 mr-2">
          <a href="{{ url('thunderbird.releases.index') }}" class="btn-link">{{ _('All Releases') }}</a>
        </li>
      </ul>
    </nav>
  {% endif %}
{% endblock %}

{% block content %}
  {% include '_includes/release-notes-content.html' %}
  {% include '_includes/site-prefooter.html' %}
{% endblock %}
